
.admin-container{
    position: relative;
}
.volunteer-list-image, .add-event-image{
    width: 18px;
}
.toggle-btn-container{
    width: 18%;
    margin-top: 20px;
    margin-right: 20px;
}
.toggle-btn-container p{
    cursor: pointer;
}
.admin-header-container{
    display:flex;
}
.admin-header-container p{
    position: relative;
    top: 35px;
    left: 1px;
}
.toggle-display-container{
    display: flex;
}
.toggle-btn-actions-container{
    width: 70%;
    margin-top: 20px;
}
.add-event-form-container{
    display: flex;
}
.user-delete-icon{
    cursor: pointer;
}
.add-event-input-form-container{
    border: 1px solid lightgrey;
    margin: 0 auto;
    padding-left: 70px;
}